<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="login-form">
        <h2>Inicio de sesion</h2>
        <form action="/auth" method="post">
            <input type="text" name="user" id="user" placeholder="Usuario" required>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <input type="submit" class="btn-login"  value="Acceder">
        </form>
        <a href="register" class="btn-register">Registrarse</a>

    </div>
</body>
</html>
