#main {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#login-body {
  margin-top: 11%;
}

.description {
  margin-left: 5%;
  display: block;
  width: 60%;
  height: 80%;
  font-size: 70px;
}
